---
---
@import "style";

.subreddit-link {
    a {
        color: $anchor-color;
        text-decoration: none;
    }

    a:hover {
        color: $anchor-color;
        text-decoration: none;
        border-bottom: 1px solid $anchor-underline-color;
    }
}
