---
---
@import "style";
@import "redcaps-instance.scss";


/************************************************
 * Teasure figure and caption                   *
 ************************************************/

#teaser-caption {
    display: block;
    font-size: $caption-fs;
    text-align: center;
    margin: 10px 0 20px 0;
}

/************************************************
 |  Paper                                       |
 ************************************************/

.paper-container {
    margin: 0;
    padding: 0 0 20px 0;

    div {
        padding: 0;
    }
}

.paper-title {
    font-size: $paper-title-fs;
    font-weight: 700;
    margin: 4px 0 4px 0;
}

.paper-authors {
    line-height: $line-height;
    font-size: $paper-authors-fs;
}

.paper-banner {
    border: 1px solid silver;
    margin: 10px 0 0 0;
    width: 100%;

    img {
        width: 100%
    }
}


/************************************************
 * People section                               *
 ************************************************/

.people-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .col:first-child {
        padding-left: 0;
    }
}

/** Remove border from peoples' pictures. */
.people-pic-hyperlink, .people-pic-hyperlink:hover {
    border: 0px;
}

.people-pic {
    display: block;
    margin: auto;
    width: 10rem;
    height: 10rem;
}

.people-name {
    text-align: center;
}

.people-name a {
    font-size: $people-fs;
}

.people-affiliation {
    font-size: $people-fs - 2px;
    margin: 3px 0 3px 0;
}

.affiliation-logo {
    display: inline-block;
    margin: 30px 5px 10px 5px;
    max-height: 30px;
}

/************************************************
 * Cover section                                *
 ************************************************/

.cover-container {
    height: 350px;  // calc(100vh - 300px);
    margin-top: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d45855;

    .cover-text {
        color: white;
        width: 45rem;
        font-size: 2.5rem;
    }
}

.cover-subtitle-container {
    margin-top: -5rem;
    margin-bottom: 3rem;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.home-stats {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.stat-number {
    color: #d45855;
    font-weight: 700;
    font-size: 2.5rem;
}

.stat-subtext {
    font-size: 1.25rem;
}

  /* Mobile */

@media (max-width: 650px) {
    .cover-container {
        height: 300px;
        .cover-text {
            width: 30rem;
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 500px) {
    .cover-container {
        height: 250px;
        .cover-text {
            width: 25rem;
            font-size: 1.4rem;
        }
    }
}
